# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Ansible
*.retry

# Docker/Compose
**/compose/**/data/
**/compose/**/tmp/
**/compose/**/logs/
*.log

# Ключи/сертификаты (храним только примеры!)
*.pem
*.key
*.crt
*.p12

# Загрузочная конфигурация headunit
device.conf

# ОС/IDE
.DS_Store
Thumbs.db
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.agent

# OS Images and Archives
*.img
*.img.xz
*.zip
*.gz

# Builder artifacts
builder/output/

# Local builder configuration

# Generated Services Libs
services/lib/
