[common]
PROJECT_NAME="HeadUnit-OS"
IMAGE_NAME="headunit_v1"

; Входной базовый образ (укажите имя файла в корне workspace)
INPUT_IMAGE_NAME="2025-11-24-raspios-trixie-arm64-lite.img"

; Системные настройки
SYS_ENABLE_SSH="yes"
SYS_USER="USERNAME"
SYS_PASS="USERPASS"

; Сеть
NET_HOSTNAME="cdreborn-00010001"
NET_WIFI_SSID="SSID"
NET_WIFI_PASS="WIFI_PASSWORD"
NET_WIFI_COUNTRY="RU"

; Точка доступа (AP)
NET_AP_SSID="CDR-00010001"
NET_AP_PASS="AP PASSWORD"
NET_AP_IP="192.168.50.1/24"

; Размеры разделов (MB)
PART_BOOT_SIZE=512
PART_ROOT_A_SIZE=3072
PART_ROOT_B_SIZE=3072
PART_FACTORY_SIZE=2048
PART_DATA_SIZE=512

[dev]
; === DEV MODE ===
; Заглушки для ускорения сборки
PART_ROOT_B_SIZE=10
PART_FACTORY_SIZE=10

[user]
; === PROD MODE ===
PART_ROOT_B_SIZE=3072
PART_FACTORY_SIZE=2048
