@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
